{
    "endOfLine": "lf",
    "tabWidth": 4,
    "printWidth": 120,
    "singleQuote": true,
    "editorconfig": true,
    "bracketSameLine": true,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "singleAttributePerLine": false,
    "semi": false,
    "useTabs": false,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "pluginSearchDirs": false,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-css-order"],
    "overrides": [
        {
            "files": ["*.yaml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.svelte"],
            "options": {
                "parser": "svelte",
                "svelteStrictMode": false,
                "svelteBracketNewLine": false,
                "svelteSortOrder": "options-markup-scripts-styles",
                "svelteIndentScriptAndStyle": true,
                "embeddedLanguageFormatting": "auto"
            }
        }
    ]
}