# Ignore system files
.DS_Store

# Ignore the .git directory
.git

# Ignore the .svelte-kit directory
.svelte-kit

# Ignore the node_modules directory
node_modules

# Ignore build directories
package
build

# Ingore lock files
pnpm-lock.yaml
package-lock.json
yarn.lock
